<footer class="w-full h-auto bg-rodape poppins text-white">
  <div class="w-full h-full flex flex-col">
    <main class="w-full h-full py-6 flex xl:flex-row flex-col xl:gap-20 gap-10 justify-center items-center">
      <article>
            <img src="/images/all-movies.png" width="180px" alt="All Movies IPTV" />
      </article>
      <article>
        <div class="text-sm">
          <div class="mb-3">
            <span class="text-base font-bold">TESTE IPTV GRÁTIS</span>
          </div>
          <div class="flex items-center gap-2">
            {% include "svgCheck.njk" %}
            <a href="/" target="_blank" class="hover:text-blue-700 transition-colors duration-300">Teste IPTV 6 horas</a>
          </div>
          <div class="flex items-center gap-2">
            {% include "svgCheck.njk" %}
            <a href="/" target="_blank" class="hover:text-blue-700 transition-colors duration-300">Teste IPTV Grátis</a>
          </div>
          <div class="flex items-center gap-2">
            {% include "svgCheck.njk" %}
            <a href="/" target="_blank" class="hover:text-blue-700 transition-colors duration-300">Teste IPTV assinar</a>
          </div>
          <div class="flex items-center gap-2">
            {% include "svgCheck.njk" %}
            <a href="/" target="_blank" class="hover:text-blue-700 transition-colors duration-300">XCIPTV Teste</a>
          </div>
          <div class="flex items-center gap-2">
            {% include "svgCheck.njk" %}
            <a href="/" target="_blank" class="hover:text-blue-700 transition-colors duration-300">Melhor lista IPTV</a>
          </div>
          <div class="flex items-center gap-2">
            {% include "svgCheck.njk" %}
            <a href="/" target="_blank" class="hover:text-blue-700 transition-colors duration-300">Assinar IPTV</a>
          </div>
          <div class="flex items-center gap-2">
            {% include "svgCheck.njk" %}
            <a href="/" target="_blank" class="hover:text-blue-700 transition-colors duration-300">IPTV Assinar</a>
          </div>
        </div>
      </article>
      <article>
        <div class="text-sm">
          <div class="mb-3 xl:text-start text-center">
            <span class="text-base font-bold">FALE CONOSCO</span>
          </div>
          <div class="flex items-center gap-2">
            <span class="text-[11px] max-w-[245px] font-bold leading-[16px]">
              A VISION oferece o mais destacado serviço de IPTV do Brasil, permitindo aos clientes desfrutar do melhor conteúdo televisivo internacional com qualidade superior. Experimente o nosso TESTE IPTV hoje mesmo.
            </span>
          </div>
        </div>
      </article>
      <article>
        <div class="text-sm">
          <div class="mb-3">
            <span class="text-base font-bold">FORMAS DE PAGAMENTO</span>
          </div>
          <div class="">
            <img src="/images/formas-de-pagamento-iptv.webp" width="225px" alt="Formas de Pagamento IPTV" />
            <img src="/images/google-security.webp" width="225px" alt="Google Safe Browsing" />
          </div>
        </div>
      </article>
    </main>
    <footer class="w-full py-2 flex items-center justify-center bg-black">
      <span class="font-semibold xl:text-[12px] text-[10px] text-white">© 2025 ALL MOVIES TV — Todos os direitos reservados.</span>
    </footer>
  </div>
</footer>