<div class="md:px-14 sm:px-24 px-2">
  <a id="btn2" href="https://api.whatsapp.com/send?phone=5511918359024&text=Ol%C3%A1!%20Vi%20seu%20an%C3%BAncio%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
    target="_blank" class="fixed top-0 bg-white w-full md:h-[68px] h-[48px] flex items-center px-2">
    <img src="/images/logo.png" class="md:w-[352px] w-[314px]" width="352px" height="40"
      alt="Central de Atendimento Humanizado" />
  </a>
  <main
    class="bg-main w-full h-auto md:py-20 py-10 md:px-[280px] px-5 flex flex-col items-center gap-8 rounded-2xl md:mt-20 mt-16 text-white text-center">
    <span class="bg-[#0ACF83] rounded-full px-6 py-2 w-fit text-xl font-bold">SEJA BEM-VINDO!</span>
    <div class="md:text-6xl text-3xl font-bold">
      <span class="md:leading-[60px] leading-[34px]">Aqui o atendimento é feito por <span
          class="text-[#0ACF83]">pessoas</span>, nada de robô!</span>
    </div>
    <div class="flex flex-col md:gap-8 gap-6">
      <span class="md:text-xl text-lg">Nossa equipe irá te auxiliar na <span
          class="font-bold text-[#0ACF83]">instalação e suporte</span> sempre que precisar. O nosso atendimento é
        feito exclusivamente pelo <span class="text-[#0ACF83] font-bold">WhatsApp</span>.</span>
      <span class="md:text-xl text-lg">Disponibilizamos um período de teste de <span class="font-bold text-[#0ACF83]">3
          horas</span> para que você possa
        <span class="text-[#0ACF83] font-bold">experimentar</span> os nossos serviços
        <span class="text-[#0ACF83] font-bold">antes de contratar</span>.</span>
    </div>
    <a
    id="btn1"
    href="https://api.whatsapp.com/send?phone=5511918359024&text=Ol%C3%A1!%20Vi%20seu%20an%C3%BAncio%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
    target="_blank"
    class="button-chamativo bg-[#0ACF83] hover:bg-[#09B06F] md:py-6 py-4 md:px-14 px-8 flex flex-col items-center rounded-lg font-bold mt-8 text-2xl">
      <span>INICIAR MEU TESTE GRÁTIS AGORA</span>
    </a>
    <div class="flex flex-col gap-1 font-bold text-[#BCC1CA]">
      <span class="md:text-sm text-base">HORÁRIO DE ATENDIMENTO</span>
      <span class="md:text-xs text-sm">Todos os dias de 10h às 00h</span>
    </div>
  </main>
  <div
    class="w-full flex flex-col gap-10 justify-center items-center md:px-[200px] md:text-xl text-2xl text-black/60 font-semibold py-16 text-center">
    <div>
      <span>
        Faça como <span class="text-black font-bold">mais de 20 mil pessoas</span> que contrataram os nossos serviços e
        descubriram a liberdade de
        escolha!
      </span>
    </div>
    <div>
      <span>
        São mais de <span class="text-black font-bold">100 mil conteúdos</span> entre <span
          class="text-black font-bold">Filmes e Séries</span>, além
        de mais de <span class="text-black font-bold">3 mil canais</span> só esperando você dar o play.
      </span>
    </div>
  </div>
</div>
